.maximg{
	max-width:100%;
}
.smlogo{
	width:38px;
	height:auto;
}
.graybg{
	background-color:#F4F4F4;
}
.bar.bar-positive{
	border-bottom: 1px solid #ddd;
	background: #FFF;
}
.bar.bar-positive .title {
    color: #222;
}
.bar-positive .button.button-clear{
	color: #222;
}
