.maximg{
	max-width:100%;
}
.smlogo{
	width:36px;
	height:auto;
}
.graybg{
	background-color:#F4F4F4;
}
.bar.bar-positive{
	border-bottom: 1px solid #ddd;
	background: #FFF;
}
.bar.bar-positive .title {
    color: #222;
}
.bar-positive .button.button-clear{
	color: #222;
}

.share-facebook {
    background-color: #4b68b9;
    border-color: #344b8d;
    color: #ffffff!important;
    text-shadow: 0 -1px 0 #3b55a0;
}
